* {
    margin: auto;
    text-align: center;
    font-family: "Lemon", serif;
    font-weight: 100;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url(./back.jfif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#container {
    background-color: rgba(221, 122, 122, 0.5);
    border-radius: 25px;
    border: 1px solid black;
    /* width: 35%; */
}

h1 {
    margin: 15px;
    font-size: 30px;
}

.details {
    display: grid;
    gap: 6px;
    margin-left: 30px;
    margin-top: 15px;
    padding: 6px;
}

.weight,
.height {
    display: flex;
    align-items: center;
    gap: 25px;
}

.details label {
    font-size: 15px;
    font-weight: 600;
}

.details input {
    background-color: rgba(226, 184, 184, 0.5);
    border: 2px solid black;
    box-shadow: none;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
    font-size: 15px;
}

.details button {
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
    padding: 8px;
    background: green;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.details button[type="reset"] {
    background: #444;
}

.details button:hover {
    filter: brightness(150%);
}

.show {
    font-size: 12px;
    margin-bottom: 20px;
    padding: 5px;
}

.value {
    font-size: 30px;
    margin: 5px;
}

.result {
    font-size: 18px;
}

.scale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    padding: 10px;
    font-size: 14px;
}

.UnderWeight {
    padding: 10px;
    border-top: 5px solid brown;
}

.Healthy {
    padding: 10px;
    border-top: 5px solid green;
}

.OverWeight {
    padding: 10px;
    border-top: 5px solid orange;
}

.Obese {
    padding: 10px;
    border-top: 5px solid red;
}

@media screen and (max-width: 480px) {
    #container{
        width: 80%;
    }
    .scale, .details input{
        font-size: 10px;
    }
}